.education-area {
    margin-top: 1em;
    color: #ffffffcc;

    h2 {
        font-weight: 300;
        margin-bottom: 0.5em;
    }

    .education-wrap{
        border: 1px solid #1c445f;
        border-radius: 8px;
        padding: 0.5em;
        padding-top: 1em;
        margin-bottom: 0.5em;

        .delete-exp{
            display: flex;
            justify-content: flex-end;

            svg{
                stroke: rgb(255, 128, 128);
                stroke-width: 0.7px;
                cursor: pointer;

                &:hover{
                    stroke: rgb(199, 99, 99);
                }
            }
        }

        .row {
            display: flex;
    
            .col {
                flex: 1;
            }
        }
    }

    button{
        padding: 0.5em 1em;
        border: 1px solid #1c445f;
        background: none;
        color: white;
        font-size: 18px;
        cursor: pointer;
        transition: all 0.15s;
        border-radius: 8px;

        &:hover{
            border: 1px solid #4bb2f9;
        }
    }

}